// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

spawn-at-startup "waybar"
spawn-sh-at-startup "hyprpaper"
spawn-sh-at-startup "nm-applet —indicator"
